Package: selfdiscovery
Version: 1
Section: Development
Priority: Optional
Architecture: all
Depends: libstdc++6 (>= 4.7.1-1)
Maintainer: Rendaw <spoo@zarbosoft.com>
Description: Provides a consistent interface for gathering installation environment information.
 Runs a script to receive information requests and responds with the requested information to the script.  This is useful for installation/building scripts which need to know things like installation directories, architectures, and the locations of installed libraries in a variety of operational environments.
Homepage: http://www.zarbosoft.com/selfdiscovery
